# Servidor
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:4200

# Base de datos activa: HANA | SQL
DB_TYPE=HANA

# SAP HANA
HANA_HOST=hanaroda25.gruporoda.com
HANA_PORT=30015
HANA_USER=B1ADMIN
HANA_PASSWORD=your-password-here
HANA_SCHEMA=REND_RETAIL
HANA_ENCRYPT=false
HANA_SSL_VALIDATE_CERTIFICATE=false

# JWT
JWT_SECRET=your-super-secret-key-change-in-production
JWT_EXPIRES_IN=1d

# Logging
LOG_LEVEL=debug
LOG_DIR=logs
